.sm-history {
  margin: 4px;
  padding: 4px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 6px;
}

.sm-history .btn {
  width: 6em;
}

.spacer {
  width: var(--button-size);
  display: inline-block;
}

.sm-sidebar svg {
  stroke: white;
  fill: white;
  width: 20px;
  height: 20px;
}

.sm-history.saveload .btn {
  width: 120px;
  margin-top: 6px;
}

.sm-history.saveload .btn-icon {
  display: block;
  float: right;
}

.sm-history.saveload .btn-icon {
  display: block;
  float: left;
}