:root {
  --side-bar-width: 280px;
  --side-bar-stowed-width: calc(var(--button-size) + 6px);
  --side-bar-diff: calc(-1 * (var(--side-bar-width) - var(--side-bar-stowed-width)));
  --side-bar-diff-right: calc(-1 * var(--side-bar-diff));
  --hidden-transform: translate(var(--side-bar-diff, 0));
  --hidden-transform-right: translate(var(--side-bar-diff-right, 0));
}

.sm-sidebar {
  position: fixed;
  z-index: 50;
  top: 0;
  width: var(--side-bar-width);
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: white;
  transition: transform 0.5s, height 0.5s;
}

.sm-sidebar-left {
  left: 0;
  border-right: var(--modal-border);
}

.sm-sidebar-right {
  right: 0;
  border-left: var(--modal-border);
}

.sm-sidebar-header {
  height: var(--modal-header-height);
  color: var(--modal-header-color);
  background-color: var(--modal-header-bg-color);
  width: 100%;
  margin-bottom: 5px;
}


.sm-sidebar .title {
  display: block;
  font-size: var(--modal-header-font-size);
  margin-left: 10px;
  margin-top: 0px;
  padding-top: 10px;
  overflow: hidden;
  width: 8em;
  text-align: center;
  transition: width 0.5s, margin 0.5s;
}

.sm-sidebar-left .title {
  float: left;
  left: 0;
}

.sm-sidebar.stowed {
  height: var(--modal-header-height);
}

.sm-sidebar-left.stowed {
  transform: var(--hidden-transform);
}

.sm-sidebar-right.stowed {
  transform: var(--hidden-transform-right);
}

.icon-svg {
  stroke: white;
  fill: white;
  width: 25px;
  height: 25px;
}

.sm-sidebar-toggle {
  display: block;
}

.sm-sidebar.stowed .title {
  width: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.sm-sidebar.stowed .body, .sm-sidebar.stowed .body * {
  display: none;
}

.sm-sidebar .body {
  top: var(--modal-header-height);
  padding-top: 2px;
  text-align: center;
  overflow-x: hidden;
  width: var(--side-bar-width);
}

.sm-sidebar-left .toggle {
  float: right;
}

.sm-sidebar-left .toggle .stowed {
  float: left;
}

.sm-sidebar-right .toggle {
  float: left;
}

.sm-sidebar-right .toggle .stowed {
  float: right;
}

.sm-sidebar-button {
  display: block;
  width: 120px;
  padding: 6px;
}