:root {
  --button-bg-color: #101020;
  --button-color: #D0D0D0;
  --button-bg-color-hover: #202040;
  --button-border-color: #707090;
  --button-color-hover: white;
  --header-bg-color: #303050;
  --header-bg-color-hover: #404050;
  --button-bg-color-disabled: #404040;
  --button-color-disabled: #A0A0A0;
 
  --button-size: 40px;

  --body-bg-color: grey;
  --background-color: lightgrey;
}

body {
  background-color: var(--body-bg-color);
  font-family: Sans-Serif;
  font-size: 16px;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

.Markdown {
  background-color: var(--background-color);
  max-width: 70em;
  padding: 1em;
  margin: 0 auto;
}

.btn {
  height: var(--button-size);
  min-width: var(--button-size);
  margin: 3px;
  padding: 6px;
  background:var(--button-bg-color);
  border: 1px solid var(--button-border-color);
  border-radius: 6px;
  color: var(--button-color);
  font-size: 16px;
  font-weight: 400;
}

.btn:hover {
  background: var(--button-bg-color-hover);
  color: var(--button-color-hover); 
}

.btn:disabled {
  color: var(--button-color-disabled);
  background-color: var(--button-bg-color-disabled);
  border: none;
  cursor: default;
}